@import '../../variables.scss';

.main {
  width: 286px;
  height: 258px;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 15px;
  padding-top: 64px;
  padding-right: 32px;
  padding-left: 32px;
}

.box {

}


.title {
  @include headingS;
  color: $white;
}