@import "src/variables.scss";

.main {
  margin-top: 226px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
  padding-bottom: 140px;
}

.box {
  width: 1110px;
  margin: auto;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 80px;
  flex-wrap: wrap;
  align-items: flex-end;
}

@media (max-width: $tablet) {
  .box {
    width: 690px;
    column-gap: 10px;
    row-gap: 62px;
  }
}

@media (max-width: $mobile) {
  .box {
    width: 343px;
    row-gap: 40px;
  }
}
