@import 'src/variables.scss';

.main {
  background-color: $darkBlue;
}

.content {
  display: flex;
  height: 120px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1110px;
  margin: auto;
}

@media (max-width: $tablet) {
  .content {
    width: auto;
    padding: 0 31px;
  }
}

@media (max-width: $mobile) {
  .content {
    width: auto;
    padding: 0 16px;
  }
}