$lightBlue: #666CA3;
$darkBlue: #13183F;
$gray: #83869A;
$darkPink: #F74780;
$pink: #FFA7C3;
$white: #FFFFFF;
$transitionPinkOrange: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$transitionPinkOrangeLight: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
$transitionPinkPurple: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
$transitionPinkPurpleLight: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
$fontFamily: 'Plus Jakarta Sans', sans-serif;

$desktop: 1150px;
$tablet: 768px;
$mobile: 500px;

@mixin heading {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 800;
  color: $darkBlue;
  margin: 0;
}
@mixin headingXl {
  @include heading;
  font-size: 56px;
  line-height: 71px;
}

@mixin headingL {
  @include heading;
  font-size: 40px;
  line-height: 50px;
}

@mixin headingM {
  @include heading;
  font-size: 32px;
  line-height: 40px;
}

@mixin headingS {
  @include heading;
  font-size: 24px;
  line-height: 30px;
}

@mixin body {
  font-family: $fontFamily;
  color: $gray;
  margin: 0;
}

@mixin bodyM {
  @include body;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

@mixin bodyS {
  @include body;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

@function get-vw($target) {
  $vw-context: (1000*.01) * 1px;
  @return calc($target/$vw-context) * 1vw;
}
