@import "src/variables.scss";

.main {
  display: flex;
  flex-direction: row;
  margin-top: 172px;
}

.cta {
  display: flex;
  flex-direction: column;
  width: 457px;
  align-items: flex-start;
}

.img {
  position: absolute;
  z-index: -1;
  margin-top: -258px;
  margin-left: 130px;
}

.title {
  @include headingXl;
}

.description {
  @include bodyM;
  margin-top: 29px;
  margin-bottom: 40px;
}

@media (max-width: $tablet) {
  .main {
    margin: 105px 0 0 39px;
  }

  .img {
    margin-top: -100px;
    margin-left: 84px;
  }
}
